:global .bracketed {
    position: relative;
    display: inline-block;

    &:local(.enter-hover):hover,
    &.enter {
        > .bracket {
            margin: var(--bracket-margin);
            opacity: 1;
        }
    }
}

.bracket {
    margin: calc(var(--bracket-margin) - var(--bracket-enter));
    position: absolute;
    opacity: 0;
    will-change: margin;
    transition: margin var(--enter-time) ease, opacity var(--enter-time) ease;
    pointer-events: none;
    &::after {
        content: '';
        display: block;
        size: var(--bracket-size);
        position: absolute;
        left: calc(-1 * var(--bracket-size) / 2);
        top: calc(-1 * var(--bracket-size) / 2);
        border: solid #FFFA 1px;
    }
}

.bracket:global {
    &.top::after {
        border-bottom: solid #FFF0 1px;
    }
    &.bot::after {
        border-top: solid #FFF0 1px;
    }
    &.lef::after {
        border-right: solid #FFF0 1px;
    }
    &.rig::after {
        border-left: solid #FFF0 1px;
    }
}
.interior {
    display: inline-block;
}

.enter-normal {
    display: inline-block;
}
