:global .bracketed {
    position: relative;
    font-weight: light;
    display: inline-block;

    &:local(.enter-hover):hover,
    &.enter {
        > .bracket {
            margin: var(--bracket-margin);
            opacity: 1;
        }
    }
}

.bracket {
    position: absolute;
    margin: calc(var(--bracket-margin) - var(--bracket-enter));
    opacity: 0;
    transition: margin var(--enter-time) ease, opacity var(--enter-time) ease;
    &::after {
        content: '';
        display: block;
        size: var(--bracket-size);
        position: absolute;
        left: calc(-1 * var(--bracket-size) / 2);
        top: calc(-1 * var(--bracket-size) / 2);
        border: #FFFA 1px;
    }
}

.bracket:global(.top)::after {
    border-top-style: solid;
}

.bracket:global {
    &.top::after {
        border-top-style: solid;
    }
    &.bot::after {
        border-bottom-style: solid;
    }
    &.lef::after {
        border-left-style: solid;
    }
    &.rig::after {
        border-right-style: solid;
    }
}
.interior {
    display: inline-block;
}

.enter-normal {
    display: inline-block;
}
