:global .button {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    margin: var(--margin);
    padding: 0;
    transition: padding 0.1s;
    &:active {
        padding: var(--bracket-shift-distance);
    }
}

.container {
    display: inline-block;
    margin: 0;
    transition: margin 0.1s;
    &:active {
        margin: calc(-1 * var(--bracket-shift-distance));
    }
}

.interior {
    display: inline-block;
    padding: var(--padding);
    min-width: 100px;
    border: solid 1px #FFF;
    text-align: center;
    transition: transform 0.1s;
    &:active {
        transform: scale(95%);
    }
}
