:global .button {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    margin: 8px;
    transition: transform 0.1s;
    &:active {
        transform: scale(0.98);
    }
}

.interior {
    display: inline-block;
    border: solid 1px #FFF;
    padding: 8px 16px;
    transition: transform 0.1s;
    &:active {
        transform: scale(0.95);
    }
}
