:global .window {
    position: relative;
    width: var(--width);
    height: var(--height);
    > .bracketed {
        position: absolute 0;
    }
}

.container {
    position: relative;
    background: repeating-linear-gradient(#55555536, #55555536 10px, #55555532 10px, #55555532 11px);

    &.slow {
        animation: flicker 0.5s step-end both,
            border-toggle 1s step-end both,
            open-width 0.5s cubic-bezier(0.11, 0.96, 0.53, 1) 0.23s both,
            open-height 0.5s cubic-bezier(0.11, 0.96, 0.53, 1) 0.73s both;
    }

    > .box {
        position: absolute;
    }
    > .box::after {
        background: #FFF;
        content: '';
        display: block;
        position: absolute;
    }
}
.container.slow.box-ready,
.container:not(.slow) {
    > .box::after {
        animation: box-expand 0.15s ease both;
    }
}

.interior {
    display: inline-block;
    position: absolute calc(-1 * var(--half-border));
}

@keyframes border-toggle {
    0% {
        outline: 0;
    }
    20% {
        outline: solid calc(var(--half-border)) #FFF;
    }
    73% {
        outline: solid calc(2 * var(--half-border)) #FFF;
    }
    100% {
        outline: solid calc(2 * var(--half-border)) #FFF;
    }
}

@keyframes open-width {
    0% {
        left: calc(var(--width) / 2);
        width: 0;
    }
    100% {
        left: 0;
        width: var(--width);
    }
}

@keyframes open-height {
    0% {
        top: calc(var(--height) / 2);
        height: 0;
    }
    100% {
        top: 0;
        height: var(--height);
    }
}

@keyframes flicker {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    44% {
        opacity: 0;
    }
    48% {
        opacity: 1;
    }
    52% {
        opacity: 0;
    }
    55% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    63% {
        opacity: 1;
    }
    67% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes box-expand {
    0% {
        left: 0;
        top: 0;
        width: 0;
        height: 0;
    }
    100% {
        left: calc(-1 * var(--half-box-size));
        top: calc(-1 * var(--half-box-size));
        width: calc(2 * var(--half-box-size));
        height: calc(2 * var(--half-box-size));
    }
}
