:global .bracketed {
    position: relative;
    font-weight: light;
}

.bracket {
    position: absolute;
    margin: var(--bracket-margin);
    &::after {
        position: absolute;
        content: '';
        display: block;
        width: var(--bracket-size);
        height: var(--bracket-size);
        left: calc(-1 * var(--bracket-size) / 2);
        top: calc(-1 * var(--bracket-size) / 2);
        border: #FFFA 1px;
    }
}

.bracket:global(.top)::after {
    border-top-style: solid;
}

.bracket:global {
    &.top::after {
        border-top-style: solid;
    }
    &.bot::after {
        border-bottom-style: solid;
    }
    &.lef::after {
        border-left-style: solid;
    }
    &.rig::after {
        border-right-style: solid;
    }
}
.interior {
    display: block;
}

.enter-normal {
    display: block;
}
