.window-interior {
    position: absolute 0;
}

.scene {

    size: calc(2 * var(--cube-size));
    perspective: var(--perspective);
    position: absolute;
    top: calc(50% - var(--cube-size));
    left: calc(50% - var(--cube-size));
    animation: disappear 0.5s cubic-bezier(0.37, 0.92, 0.53, 1) 6.5s both;
}

@mixin enter($start) {
    > .face {
        animation: into 1s both calc(1s + #{$start});
        > .face-interior {
            animation: after-into 8s both 1s, into-opacity 1s both calc(1s + #{$start});
        }
    }
}

.cube {
    position: absolute 0;
    transform-style: preserve-3d;
    animation: rotate 5s cubic-bezier(0.49, 0.83, 0.62, 1.01) 1s both;
    > .front {
        transform: rotateY(0deg) translateZ(var(--center-dist));
        > .face {
            animation: into 1s both calc(1s + 1s);
        }
        > .face > .face-interior {
            animation: after-into-front 8s both 1s, into-opacity 1s both calc(1s + 1s);
        }
    }
    > .right {
        @include enter(0s);
        transform: rotateY(90deg) translateZ(var(--center-dist));
    }
    > .back {
        @include enter(0.5s);
        transform: rotateY(180deg) translateZ(var(--center-dist));
    }
    > .left {
        @include enter(1.25s);
        transform: rotateY(-90deg) translateZ(var(--center-dist));
    }
    > .top {
        @include enter(0.25s);
        transform: rotateX(90deg) translateZ(var(--center-dist));
    }
    > .bottom {
        @include enter(0.75s);
        transform: rotateX(-90deg) translateZ(var(--center-dist));
    }
    > :not(.logo-text) {
        position: absolute;
        size: calc(2 * var(--cube-size));
        transform-style: preserve-3d;
    }
    > * > .face {
        position: absolute 0;
        transform-style: preserve-3d;
    }
    > * > .face > .face-interior {
        position: absolute 0;
    }
}
.logo-text {
    position: absolute;
    height: var(--font-size);
    width: 0;
    font-size: var(--font-size);
    font-weight: 500;
    letter-spacing: -0.05em;
    color: #000;
    animation: disappear 0.75s cubic-bezier(0.37, 0.92, 0.53, 1) 8s both;

    > * {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    > .part-a {
        animation: open-a 1.2s both 6.5s;
    }
    > .part-b {
        animation: open-b 1.2s both 6.5s;
    }
}
.centered {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    height: var(--font-size);
    width: 0;
    animation: enter 0.75s ease 5.5s both;
}

@keyframes rotate {
    0% {
        transform: rotate3d(1, 1, 1, 0deg);
    }
    100% {
        transform: rotate3d(1.5, 1, 2, 360deg);
    }
}

@keyframes into {
    0% {
        transform: translateZ(var(--start-into));
    }
    100% {
        transform: translateZ(var(--end-into));
    }
}

@keyframes into-opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes after-into {
    0% {
        background: #fff0;
        transform: translateZ(0);
    }
    50% {
        background: #fff;
        transform: translateZ(calc(-1 * var(--end-into)));
    }
    100% {
        background: #fff;
        transform: translateZ(calc(-1 * var(--end-into)));
    }
}
@keyframes after-into-front {
    0% {
        box-shadow: inset 0 0 0 var(--cube-size) #fff0;
        transform: translateZ(0);
    }
    40% {
        box-shadow: inset 0 0 0 var(--cube-size) #fffb;
    }
    60% {
        box-shadow: inset 0 0 0 var(--front-border-size) #fff;
        transform: translateZ(calc(-1 * var(--end-into)));
    }
    100% {
        box-shadow: inset 0 0 0 var(--front-border-size) #fff;
        transform: translateZ(calc(-1 * var(--end-into)));
    }
}
@keyframes disappear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(calc(-1 * var(--disappear-distance)));
    }
}
@keyframes enter {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes open-a {
    0% {
        clip-path: polygon(0 0.24em, 0.35em 0.24em, 0.35em 1.5em, 0 1.5em);
        left: -0.4em;
    }
    100% {
        clip-path: polygon(0 0, 2.1em 0, 2.1em 1.5em, 0 1.5em);
        color: #fff;
        left: -2.6em;
    }
}
@keyframes open-b {
    0% {
        clip-path: polygon(0 0.24em, 0.55em 0.24em, 0.55em 1.5em, 0 1.5em);
        left: -0.135em;
    }
    100% {
        clip-path: polygon(0 0, 3.6em 0, 3.6em 1.5em, 0 1.5em);
        color: #fff;
        left: -0.55em;
    }
}
