.interior {
    display: inline-block;
    margin: 5px;
}

.window-interior {
    margin: 40px;
    overflow: hidden;
    position: absolute 0;
}
.wrapper {
    padding: 20px;
}

.window-interior > .bracketed {
    margin: 10px;
}

.big-button-interior {
    height: 100px;
    width: 100px;
}
