body {
    margin: 0;
    background-color: #000;
    color: #FFF;
    font-family: 'Inter';
    font-weight: 400;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Var.ttf') format('truetype');
    font-weight: 1 999;
    font-feature-settings: 'case', 'calt', 'tnum', 'frac';
}
// Reset all box-sizes.
*,
*::before,
*::after {
    box-sizing: inherit;
}
